body {
    margin: 0 auto;
    max-width: 75%;
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    font-size: 14px;
    font-family: Futura, Georgia, sans-serif;
    display: block;
}

h2 {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

a {
    color: #551A8B;
    text-decoration: none;
}

a:hover {
    color: #A268D7;
    transition: color .3s ease 0s;
}

.about {
    width: 75%;
    margin: 0 auto;
    display: block;
}

.circle {
    border-radius: 50%;
    max-width: 100px;
}

.logo {
    text-align: center;
    padding-top: 20px;
}

.social-media-list {
  list-style-type: none;
  text-align: center;
  font-size: 1.5em;
  padding-top: 15px 0 15px 0;
}

.social-media-list li {
    display: inline-block;
    padding: 0 5px 0 5px;
}

.social {
    padding-left: 0px;
}

